config.ini
*.log      # Ignore all files with a .log extension
/logs/*    # Ignore the entire logs directory
/data/     # Ignore the entire data directory
/.venv/    # Ignore the entire virtual environment directory

logs/amboss-LNDg_changes.log
logs/peerswap-LNDg_changes.log
logs/lndg-channel_base-fee.log
data/low-fee-high-local.log
bos
