# rename file to config.ini. No 'highcomma' or "quotation marks"

[credentials]
#Amboss API Key
amboss_authorization = 
#LNDg username+pwd from lndg/data/lndg-admin.txt
lndg_username = 
lndg_password = 

[pubkey]
#Add Pubkeys you want to ignore in automated LNDg updates, comma-separated for adding multiple pubkeys. 
base_fee_ignore = pubkey1,pubkey2,pubkey3
#Add Pubkeys you want to auto-reject when Magma channel-buy orders are coming in
banned_magma_pubkeys = pubkey1,pubkey2,pubkey3

[no-swapout]
#Add Pubkeys you want to filter out for swapout outputs, comma-separated for adding multiple pubkeys. 
swapout_blacklist = 

[paths]
# set your paths in case you cron-job it: $ whereis lncli & whereis pscli
lncli_path = /usr/local/bin/lncli
pscli_path = /usr/local/bin/pscli

[telegram]
chat_id = 
magma_bot_token = 
peerswap_bot_token = 
telegram_user_id = 
lnbits_bot_token = 

[info]
node = 

[system]
full_path_bos = /usr/bin/bos
BCK_SOURCE_PATH = /home/elements/.elements/liquidv1/wallets
BCK_DEST_PATH = /mnt/backup/liquid
path_command = /usr/local/bin/

[urls]
mempool_tx = https://mempool.space/tx/
liquid_tx = https://liquid.network/tx/

[parameters]
fee_updated_hours_ago = 3
capped_ceiling = 3100

## LNBits Pocket Money Settings
[LNBits]
# wallet_id and invoice_key for each child to be stored in ../wallets.json

# admin key for the main LNBits wallet (parent wallet)
admin_key = "admin_key_1"

[Schedule]
recurrence = weekly  # Options: daily, weekly
time = 09:00  # Time of day to run the transfer
day_of_week = friday  # Only used if recurrence is weekly