# rename file to config.ini. No 'highcomma' or "quotation marks"

[credentials]
#Amboss API Key
amboss_authorization = 
#LNDg username+pwd from lndg/data/lndg-admin.txt
lndg_username = 
lndg_password = 

[lndg]
lndg_api_url = http://localhost:8889

[pubkey]
#Add Pubkeys you want to ignore in automated LNDg updates, comma-separated for adding multiple pubkeys. 
base_fee_ignore = pubkey1,pubkey2,pubkey3
#Add Pubkeys you want to auto-reject when Magma channel-buy orders are coming in
banned_magma_pubkeys = pubkey1,pubkey2,pubkey3

[no-swapout]
#Add Pubkeys you want to filter out for swapout outputs, comma-separated for adding multiple pubkeys. 
swapout_blacklist = 

[paths]
# set your paths in case you cron-job it: $ whereis lncli & whereis pscli
lncli_path = /usr/local/bin/lncli
pscli_path = /usr/local/bin/pscli
boltzcli_path = /usr/local/bin/boltzcli
# Paths for boltzcli to connect to the boltzd gRPC interface
# This is boltzd's own TLS certificate, not LND's.
boltzd_tlscert_path = /home/boltz/.boltz/tls.cert
boltzd_admin_macaroon_path = /home/boltz/.boltz/macaroons/admin.macaroon

[telegram]
chat_id = 
magma_bot_token = 
peerswap_bot_token = 
telegram_user_id = 
lnbits_bot_token = 

[info]
node = 

[system]
full_path_bos = /usr/bin/bos
BCK_SOURCE_PATH = /home/elements/.elements/liquidv1/wallets
BCK_DEST_PATH = /mnt/backup/liquid
path_command = /usr/local/bin/
# Desired logging level for scripts. Options: DEBUG, INFO, WARNING, ERROR, CRITICAL
log_level = INFO

[urls]
mempool_tx = https://mempool.space/tx/
liquid_tx = https://liquid.network/tx/
mempool_fees_api = https://mempool.space/api/v1/fees/recommended

[parameters]
fee_updated_hours_ago = 3
capped_ceiling = 3100
agg_liquidity_threshold = 10

[magma]
# Invoice expiry in seconds
invoice_expiry_seconds = 180000
# Maximum percentage of the invoice amount that can be consumed by on-chain fees for channel opening
# e.g., 0.90 means 90% of the invoice can be fees.
max_fee_percentage_of_invoice = 0.90
# Default fee rate in parts per million for the new channel
channel_fee_rate_ppm = 350
# How long to wait in seconds before retrying to connect to a buyer's node
connect_retry_delay_seconds = 60
# Maximum number of times to retry connecting to a buyer's node
max_connect_retries = 30
# Polling interval in minutes to check for new orders
polling_interval_minutes = 10

## LNBits Pocket Money Settings
[LNBits]
# http:// for localhost or https:// for your external domain
base_url = https://yourdomain.com/api/v1

# admin key for the main LNBits wallet (parent wallet)
admin_key = admin_key_1

[Schedule]
# Options: daily, weekly
recurrence = weekly
# Time of day to run the transfer
time = 09:00
# Only used if recurrence is weekly
day_of_week = friday

[lnd]
rpcserver = your_lnd_host:port
tlscertpath = /path/to/your/lnd/tls.cert
macaroonpath = /path/to/your/lnd/admin.macaroon